*{
    box-sizing: border-box;
}
.box1{
    transition: all 0.6s ease-in-out;
  background-image:  url("assets/light2.png")    ,url("assets/arrow2.png") , url("assets/arrow2.png") ,url("assets/light2.png")  ;
  background-repeat: no-repeat;
  background-position:  left top , right top , left bottom , right bottom;
  background-size: 0%; 
  
}
.box1:hover{
   background-size: 15%;
    transform: translateY(-10px) ;
  box-shadow: 10px 10px 15px rgba(0,0,0,1);
 
    
}
.box2{
    transition: all 0.6s ease-in-out;
  background-image:  url("assets/light2.png")    ,url("assets/arrow2.png") , url("assets/arrow2.png") ,url("assets/light2.png")  ;
  background-repeat: no-repeat;
  background-position:  left top , right top , left bottom , right bottom;
  background-size: 0%; 
  
}
.box2:hover{
   background-size: 15%;
    transform: scale(1.05) ;
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
 
    
}